.w952 {
    width: 952px;
    margin: 0 auto;
    padding: 0 4px;
}

#header, #content, #footer, .layout-p32a24, .layout-p24a30 {
    zoom: 1;
}

#header:after, #content:after, #footer:after, .layout-p32a24:after, .layout-p24a30:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.grid-fixed {
    margin-right: 0 !important;
}

.layout-p32a24, .layout-p24a30 {
    margin-bottom: 8px;
}

.layout-p32a24 .grid-1 {
    float: left;
    width: 32px;
    margin-right: 8px;
}

.layout-p32a24 .grid-2 {
    float: left;
    width: 72px;
    margin-right: 8px;
}

.layout-p32a24 .grid-3 {
    float: left;
    width: 112px;
    margin-right: 8px;
}

.layout-p32a24 .grid-4 {
    float: left;
    width: 152px;
    margin-right: 8px;
}

.layout-p32a24 .grid-5 {
    float: left;
    width: 192px;
    margin-right: 8px;
}

.layout-p32a24 .grid-6 {
    float: left;
    width: 232px;
    margin-right: 8px;
}

.layout-p32a24 .grid-7 {
    float: left;
    width: 272px;
    margin-right: 8px;
}

.layout-p32a24 .grid-8 {
    float: left;
    width: 312px;
    margin-right: 8px;
}

.layout-p32a24 .grid-9 {
    float: left;
    width: 352px;
    margin-right: 8px;
}

.layout-p32a24 .grid-10 {
    float: left;
    width: 392px;
    margin-right: 8px;
}

.layout-p32a24 .grid-11 {
    float: left;
    width: 432px;
    margin-right: 8px;
}

.layout-p32a24 .grid-12 {
    float: left;
    width: 472px;
    margin-right: 8px;
}

.layout-p32a24 .grid-13 {
    float: left;
    width: 512px;
    margin-right: 8px;
}

.layout-p32a24 .grid-14 {
    float: left;
    width: 552px;
    margin-right: 8px;
}

.layout-p32a24 .grid-15 {
    float: left;
    width: 592px;
    margin-right: 8px;
}

.layout-p32a24 .grid-16 {
    float: left;
    width: 632px;
    margin-right: 8px;
}

.layout-p32a24 .grid-17 {
    float: left;
    width: 672px;
    margin-right: 8px;
}

.layout-p32a24 .grid-18 {
    float: left;
    width: 712px;
    margin-right: 8px;
}

.layout-p32a24 .grid-19 {
    float: left;
    width: 752px;
    margin-right: 8px;
}

.layout-p32a24 .grid-20 {
    float: left;
    width: 792px;
    margin-right: 8px;
}

.layout-p32a24 .grid-21 {
    float: left;
    width: 832px;
    margin-right: 8px;
}

.layout-p32a24 .grid-22 {
    float: left;
    width: 872px;
    margin-right: 8px;
}

.layout-p32a24 .grid-23 {
    float: left;
    width: 912px;
    margin-right: 8px;
}

.layout-p32a24 .grid-24 {
    float: left;
    width: 952px;
}

.layout-p24a30 .grid-1 {
    float: left;
    width: 24px;
    margin-right: 8px;
}

.layout-p24a30 .grid-2 {
    float: left;
    width: 56px;
    margin-right: 8px;
}

.layout-p24a30 .grid-3 {
    float: left;
    width: 88px;
    margin-right: 8px;
}

.layout-p24a30 .grid-4 {
    float: left;
    width: 120px;
    margin-right: 8px;
}

.layout-p24a30 .grid-5 {
    float: left;
    width: 152px;
    margin-right: 8px;
}

.layout-p24a30 .grid-6 {
    float: left;
    width: 184px;
    margin-right: 8px;
}

.layout-p24a30 .grid-7 {
    float: left;
    width: 216px;
    margin-right: 8px;
}

.layout-p24a30 .grid-8 {
    float: left;
    width: 248px;
    margin-right: 8px;
}

.layout-p24a30 .grid-9 {
    float: left;
    width: 280px;
    margin-right: 8px;
}

.layout-p24a30 .grid-10 {
    float: left;
    width: 312px;
    margin-right: 8px;
}

.layout-p24a30 .grid-11 {
    float: left;
    width: 344px;
    margin-right: 8px;
}

.layout-p24a30 .grid-12 {
    float: left;
    width: 376px;
    margin-right: 8px;
}

.layout-p24a30 .grid-13 {
    float: left;
    width: 408px;
    margin-right: 8px;
}

.layout-p24a30 .grid-14 {
    float: left;
    width: 440px;
    margin-right: 8px;
}

.layout-p24a30 .grid-15 {
    float: left;
    width: 472px;
    margin-right: 8px;
}

.layout-p24a30 .grid-16 {
    float: left;
    width: 504px;
    margin-right: 8px;
}

.layout-p24a30 .grid-17 {
    float: left;
    width: 536px;
    margin-right: 8px;
}

.layout-p24a30 .grid-18 {
    float: left;
    width: 568px;
    margin-right: 8px;
}

.layout-p24a30 .grid-19 {
    float: left;
    width: 600px;
    margin-right: 8px;
}

.layout-p24a30 .grid-20 {
    float: left;
    width: 632px;
    margin-right: 8px;
}

.layout-p24a30 .grid-21 {
    float: left;
    width: 664px;
    margin-right: 8px;
}

.layout-p24a30 .grid-22 {
    float: left;
    width: 696px;
    margin-right: 8px;
}

.layout-p24a30 .grid-23 {
    float: left;
    width: 728px;
    margin-right: 8px;
}

.layout-p24a30 .grid-24 {
    float: left;
    width: 760px;
    margin-right: 8px;
}

.layout-p24a30 .grid-25 {
    float: left;
    width: 792px;
    margin-right: 8px;
}

.layout-p24a30 .grid-26 {
    float: left;
    width: 824px;
    margin-right: 8px;
}

.layout-p24a30 .grid-27 {
    float: left;
    width: 856px;
    margin-right: 8px;
}

.layout-p24a30 .grid-28 {
    float: left;
    width: 888px;
    margin-right: 8px;
}

.layout-p24a30 .grid-29 {
    float: left;
    width: 920px;
    margin-right: 8px;
}

.layout-p24a30 .grid-30 {
    float: left;
    width: 952px;
}

.w952 {
    width: 952px;
    margin: 0 auto;
    padding: 0 4px;
}

#header, #content, #footer, .layout-p32a24, .layout-p24a30 {
    zoom: 1;
}

#header:after, #content:after, #footer:after, .layout-p32a24:after, .layout-p24a30:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
}

.grid-fixed {
    margin-right: 0 !important;
}

.layout-p32a24, .layout-p24a30 {
    margin-bottom: 8px;
}

.layout-p32a24 .grid-1 {
    float: left;
    width: 32px;
    margin-right: 8px;
}

.layout-p32a24 .grid-2 {
    float: left;
    width: 72px;
    margin-right: 8px;
}

.layout-p32a24 .grid-3 {
    float: left;
    width: 112px;
    margin-right: 8px;
}

.layout-p32a24 .grid-4 {
    float: left;
    width: 152px;
    margin-right: 8px;
}

.layout-p32a24 .grid-5 {
    float: left;
    width: 192px;
    margin-right: 8px;
}

.layout-p32a24 .grid-6 {
    float: left;
    width: 232px;
    margin-right: 8px;
}

.layout-p32a24 .grid-7 {
    float: left;
    width: 272px;
    margin-right: 8px;
}

.layout-p32a24 .grid-8 {
    float: left;
    width: 312px;
    margin-right: 8px;
}

.layout-p32a24 .grid-9 {
    float: left;
    width: 352px;
    margin-right: 8px;
}

.layout-p32a24 .grid-10 {
    float: left;
    width: 392px;
    margin-right: 8px;
}

.layout-p32a24 .grid-11 {
    float: left;
    width: 432px;
    margin-right: 8px;
}

.layout-p32a24 .grid-12 {
    float: left;
    width: 472px;
    margin-right: 8px;
}

.layout-p32a24 .grid-13 {
    float: left;
    width: 512px;
    margin-right: 8px;
}

.layout-p32a24 .grid-14 {
    float: left;
    width: 552px;
    margin-right: 8px;
}

.layout-p32a24 .grid-15 {
    float: left;
    width: 592px;
    margin-right: 8px;
}

.layout-p32a24 .grid-16 {
    float: left;
    width: 632px;
    margin-right: 8px;
}

.layout-p32a24 .grid-17 {
    float: left;
    width: 672px;
    margin-right: 8px;
}

.layout-p32a24 .grid-18 {
    float: left;
    width: 712px;
    margin-right: 8px;
}

.layout-p32a24 .grid-19 {
    float: left;
    width: 752px;
    margin-right: 8px;
}

.layout-p32a24 .grid-20 {
    float: left;
    width: 792px;
    margin-right: 8px;
}

.layout-p32a24 .grid-21 {
    float: left;
    width: 832px;
    margin-right: 8px;
}

.layout-p32a24 .grid-22 {
    float: left;
    width: 872px;
    margin-right: 8px;
}

.layout-p32a24 .grid-23 {
    float: left;
    width: 912px;
    margin-right: 8px;
}

.layout-p32a24 .grid-24 {
    float: left;
    width: 952px;
}

.layout-p24a30 .grid-1 {
    float: left;
    width: 24px;
    margin-right: 8px;
}

.layout-p24a30 .grid-2 {
    float: left;
    width: 56px;
    margin-right: 8px;
}

.layout-p24a30 .grid-3 {
    float: left;
    width: 88px;
    margin-right: 8px;
}

.layout-p24a30 .grid-4 {
    float: left;
    width: 120px;
    margin-right: 8px;
}

.layout-p24a30 .grid-5 {
    float: left;
    width: 152px;
    margin-right: 8px;
}

.layout-p24a30 .grid-6 {
    float: left;
    width: 184px;
    margin-right: 8px;
}

.layout-p24a30 .grid-7 {
    float: left;
    width: 216px;
    margin-right: 8px;
}

.layout-p24a30 .grid-8 {
    float: left;
    width: 248px;
    margin-right: 8px;
}

.layout-p24a30 .grid-9 {
    float: left;
    width: 280px;
    margin-right: 8px;
}

.layout-p24a30 .grid-10 {
    float: left;
    width: 312px;
    margin-right: 8px;
}

.layout-p24a30 .grid-11 {
    float: left;
    width: 344px;
    margin-right: 8px;
}

.layout-p24a30 .grid-12 {
    float: left;
    width: 376px;
    margin-right: 8px;
}

.layout-p24a30 .grid-13 {
    float: left;
    width: 408px;
    margin-right: 8px;
}

.layout-p24a30 .grid-14 {
    float: left;
    width: 440px;
    margin-right: 8px;
}

.layout-p24a30 .grid-15 {
    float: left;
    width: 472px;
    margin-right: 8px;
}

.layout-p24a30 .grid-16 {
    float: left;
    width: 504px;
    margin-right: 8px;
}

.layout-p24a30 .grid-17 {
    float: left;
    width: 536px;
    margin-right: 8px;
}

.layout-p24a30 .grid-18 {
    float: left;
    width: 568px;
    margin-right: 8px;
}

.layout-p24a30 .grid-19 {
    float: left;
    width: 600px;
    margin-right: 8px;
}

.layout-p24a30 .grid-20 {
    float: left;
    width: 632px;
    margin-right: 8px;
}

.layout-p24a30 .grid-21 {
    float: left;
    width: 664px;
    margin-right: 8px;
}

.layout-p24a30 .grid-22 {
    float: left;
    width: 696px;
    margin-right: 8px;
}

.layout-p24a30 .grid-23 {
    float: left;
    width: 728px;
    margin-right: 8px;
}

.layout-p24a30 .grid-24 {
    float: left;
    width: 760px;
    margin-right: 8px;
}

.layout-p24a30 .grid-25 {
    float: left;
    width: 792px;
    margin-right: 8px;
}

.layout-p24a30 .grid-26 {
    float: left;
    width: 824px;
    margin-right: 8px;
}

.layout-p24a30 .grid-27 {
    float: left;
    width: 856px;
    margin-right: 8px;
}

.layout-p24a30 .grid-28 {
    float: left;
    width: 888px;
    \ margin-right: 8px;
}

.layout-p24a30 .grid-29 {
    float: left;
    width: 920px;
    margin-right: 8px;
}

.layout-p24a30 .grid-30 {
    float:left;width:952px;}